@import url('https://fonts.cdnfonts.com/css/hakuno');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", serif;
}

body{
    font-family: 'Courier New', Courier, monospace;
}



.card{
    width: 100%;
    height: 100vh;
    background: rgb(20, 50, 100,0.8);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.font-fam{
    font-family: 'hakuno', sans-serif;
    font-size: 38px;
    
}



#preloader{
    background: #333232 url(img/loader.gif) no-repeat center;
    background-size: 5%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}


.navbar-collapse {
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.navbar{
    margin-left: 10%;
    margin-top: 0.7%;
} 

/* When Navbar is Open */
.navbar-collapse.show {
    opacity: 1;
    transform: translateY(0);
}

.navbar-toggler, .navbar-brand {
    z-index: 1;
    position: relative;
    border: none;
    width: 60px;
    border: none !important;
    background: transparent !important;
    outline: none !important;
    box-shadow: none !important;
    padding: 5px; /* Optional: Adjust padding if needed */
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.nav-link {
    font-size: 1.2em;
    letter-spacing: 3px;
    color: white !important;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: lightgray !important;
}

