@import url('https://fonts.cdnfonts.com/css/hakuno');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", serif;
}

body{
    font-family: 'Courier New', Courier, monospace;
}



.card{
    width: 100%;
    height: 100vh;
    background: rgb(20, 50, 100,0.8);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.font-fam{
    font-family: 'hakuno', sans-serif;
    font-size: 38px;
    
}



#preloader{
    background: #333232 url(img/loader.gif) no-repeat center;
    background-size: 5%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}

.social-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    z-index: 1000;
}

.social-btn {
    width: 50px;
    height: 50px;
    background: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.3s;
}

.linkedin { background: #0077b5; }
.github { background: #24292e; }
.twitter { background: #24292e; }

.social-btn:hover {
    transform: scale(1.1);
}
