
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}


.section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left, .right {
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left, .right {
    padding: 20px;
}


.stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 640ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 1s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-100%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 rgb(24, 24, 223);
    };
    60% {
      opacity: 0.5;
      transform: translateX(100%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }

.profile-container {
    margin-top: -80px;
    padding: 30px;
    border-radius: 50%;
    background-image: url('assets/profile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    width: 400px;
    height: 400px;
   
}



#preloader {
    background: #333232 url(img/loader.gif) no-repeat center;
    background-size: 5%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}

.cards {
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--cards), var(--cardHeight));
	gap: var(--cardMargin);
border-radius: 20px;
    border: none;
}

#card1 {
	--index: 1;
}
#card2 {
	--index: 2;
}
#card3 {
	--index: 3;
}
#card4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;

}


.media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 1.8px solid #0ef;
    text-decoration: none;
    border-radius: 50%;
    margin: 30px 15px 30px 0;
    animation: media 640ms;
}

.media a:hover{
    background-color: #0ef;
    color: black;
    box-shadow: 0 0 18px #0ef;
    }

    @keyframes media {
        0% {
          
          transform: translateX(-500%);
         
        };
        60% {
          opacity: 0.5;
          transform: translateX(500%);
        }
        80% {
          transform: none;
          opacity: 1;

        }
      }

    
.text{
    color: #0ef;
    font-weight: 400;
}

/***********************************************************************/


.about{
    background-color: rgb(88, 88, 88);
    
}

.about-P{
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 30px;
    font-weight: 200;
}

.about-me{
    font-size: 35px;
    font-weight: 600;
    color: rgb(14, 14, 14);
    padding: 25px;
}

.me{
    color: #0ef;
}




@media only screen and (max-width: 768px) {
   
    .profile-container {
      
        width: 200px;
        height: 200px;
       margin-top: 10px;
    }


    .text{
        
        font-weight: 100;

    }

    h4{
        font-size: 18px;
    }

    .media a{
    
        width: 35px;
        height: 35px;
        text-decoration: none;
        border-radius: 50%;
        margin: 15px 8px 15px 0;
    }
    


.img-fluid{
    height: 150px;
    
}


.stack span {
  font-size: 2rem;
}






      }


